doctype 5
html
  head
    title= npTitle
    link(rel='stylesheet', href=npBase + 'css/style.css')
    script(data-main='js/main', src=npBase + 'js/require.js', type='text/javascript')
  body

    block content
